@import "tailwindcss";

@font-face {
  font-family: MinecraftStandard;
  src: url(../assets/fonts/minecraft_standard/MinecraftStandard.otf)
}

@font-face {
  font-family: MinecraftStandardBold;
  src: url(../assets/fonts/minecraft_standard/MinecraftStandardBold.otf)
}

@theme {
  /* Colors */
  --color-text: #f1e4db;
  --color-text-50: #928A85;
  --color-text-100: #514D4B;

  --color-background: #0b0a09;
  --color-background-gradient: #121212;
  --color-background-10: #25211E;
  --color-background-50: #3E3933;
  --color-background-100: #8B7E72;

  --color-primary: #dfc798;
  --color-secondary: #8b4d25;
  --color-accent: #d6904f;

  --color-success: #22c55e;
  --color-success-gradient: #16a34a;
  --color-error: #ef4444;
  --color-error-gradient: #b91c1c;

  /* Font Family */
  --font-sans: "Cascadia Code", monospace;
  --font-minecraft: "MinecraftStandard";

  /* Font Sizes (Perfect Fourth Type Scale) */
  --text-xs: 0.75rem;
  --leading-xs: 1rem;

  --text-sm: 1rem;
  --leading-sm: 1.333rem;

  --text-base: 1.333rem;
  --leading-base: 1.777rem;

  --text-lg: 1.777rem;
  --leading-lg: 2.369rem;

  --text-xl: 2.369rem;
  --leading-xl: 3.156rem;

  --text-2xl: 3.156rem;
  --leading-2xl: 4.203rem;

  --text-3xl: 4.203rem;
  --leading-3xl: 5.604rem;

  --text-4xl: 5.604rem;
  --leading-4xl: 7.465rem;

  /* Spacing (rem-based) */
  --space-px: 1px;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
  --space-10: 2.5rem;
  --space-12: 3rem;
  --space-16: 4rem;
  --space-20: 5rem;
  --space-24: 6rem;
  --space-32: 8rem;
  --space-40: 10rem;

  /* Transitions */
  --transition-duration-base: 800ms;
  --transition-duration-fast: 300ms;
  --transition-timing-default: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-timing-soft: cubic-bezier(0,.34,.15,.99);
}

@theme[data-theme="light"] {
  /* Colors */
  --color-text: #25180e;
  --color-text-50: #5A4E47;
  --color-text-100: #A9A29E;

  --color-background: #f6f5f4;
  --color-background-gradient: #E3E3E3;
  --color-background-10: #C1B2A1;
  --color-background-50: #93887B;
  --color-background-100: #675F57;

  --color-primary: #AD7632;
  --color-secondary: #8b4d25;
  --color-accent: #d6904f;
}

.transition-smooth {
  transition-duration: var(--transition-duration-base);
  transition-timing-function: var(--transition-timing-soft);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 9999px;
  border: 2px solid var(--color-background);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}

/* Firefox has to be extra ofc */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-background);
}

body {
  background-image: var(--page-bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
