@import "tailwindcss";

@theme {
  /* Colors */
  --color-text: #f1e4db;
  --color-text-50: #928A85;
  --color-background: #0b0a09;
  --color-background-gradient: #121212;
  --color-background-10: #25211E;
  --color-background-50: #3E3933;
  --color-background-100: #8B7E72;
  --color-primary: #dfc798;
  --color-secondary: #8b4d25;
  --color-accent: #d6904f;

  /* Font Family */
  --font-sans: "Cascadia Code", monospace;

  /* Font Sizes (Perfect Fourth Type Scale) */
  --text-xs: 0.75rem;
  --leading-xs: 1rem;

  --text-sm: 1rem;
  --leading-sm: 1.333rem;

  --text-base: 1.333rem;
  --leading-base: 1.777rem;

  --text-lg: 1.777rem;
  --leading-lg: 2.369rem;

  --text-xl: 2.369rem;
  --leading-xl: 3.156rem;

  --text-2xl: 3.156rem;
  --leading-2xl: 4.203rem;

  --text-3xl: 4.203rem;
  --leading-3xl: 5.604rem;

  --text-4xl: 5.604rem;
  --leading-4xl: 7.465rem;

  /* Spacing (rem-based) */
  --space-px: 1px;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
  --space-10: 2.5rem;
  --space-12: 3rem;
  --space-16: 4rem;
  --space-20: 5rem;
  --space-24: 6rem;
  --space-32: 8rem;
  --space-40: 10rem;
}
