.progressive-img {
  transition: opacity 0.5s ease-in-out;
}

.progressive-img-wrapper .spinner {
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  height: 100%;
}
