---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Headline from "../components/Headline.astro";
---

<DefaultLayout title="Gallerie">

    <div class="max-w-6xl mx-auto px-8 py-20 text-text font-sans">
        <Headline text="Gallerie" class="mb-12 text-center"></Headline>
    </div>

</DefaultLayout>
