---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Headline from "../components/Headline.astro";
import GalleryCarousel from "../components/GalleryCarousel.tsx";
import { loadGallery } from "../scripts/gallery";
import Separator from "../components/Separator.astro";

const sections = await loadGallery();
---

<DefaultLayout title="Gallerie">
  <div class="max-w-6xl mx-auto px-8 py-20 text-text font-sans">
    <Headline text="Gallerie" class="mb-12 text-center" />

    <Separator margin_sides="0"></Separator>

    {sections.map((section) => (
      <GalleryCarousel section={section} client:load />
      <Separator margin_sides="0"></Separator>
    ))}
  </div>
</DefaultLayout>
