---
import React from "react";
import ToolLayout from "../../../layouts/BunnySuitToolLayout.astro";
import BunnySuitConverter from "../../../components/bunnysuit";
import Headline from "../../../components/Headline.astro";
---

<ToolLayout title="BunnySuit Converter">
  <div class="max-w-5xl mx-auto px-8 py-20">
    <Headline text="BunnySuit Converter"></Headline>
    <BunnySuitConverter client:load />

    <p class="text-sm ext-text-50 text-center mt-12 mb-2">
    Credits for the Skins and Idea:
    </p>
    <ul class="text-md text-text-100 text-center space-y-1">
        <li>Basti4457</li>
        <li>Brötchen</li>
        <li>Perry</li>
    </ul>
  </div>
</ToolLayout>
