---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { RESOURCES } from "../config";
import "../styles/global.css";

//@ts-ignore
import Background from "../assets/background_dark.png?format=webp";

const { title } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;

const segments = pathname.split("/").filter(Boolean);

// Determine language: second segment is 'en' -> 'en', otherwise 'de'
const lang = segments[1] === "en" ? "en" : "de";
---
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <title>{title ? `${title} | BaggelMC` : "BaggelMC"}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href={RESOURCES.fontURL} rel="stylesheet" />
    <script src="https://unpkg.com/alpinejs" defer></script>
  </head>
  <body
    class="min-h-screen text-text font-sans flex flex-col relative overflow-x-hidden bg-background"
    style={`--page-bg: url(${Background});`}
  >
    <div
      class="fixed top-0 left-1/2 -translate-x-1/2 w-screen h-screen bg-cover bg-center bg-no-repeat blur-xl scale-105"
      style="background-image: var(--page-bg); z-index: -1;"
      aria-hidden="true"
    ></div>

    <Header title="BaggelMC" />
    <main class="grow relative z-10">
      <slot />
    </main>
    <Footer />
  </body>
</html>
