---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { RESOURCES } from "../config";
import "../styles/global.css";

//@ts-ignore
import Background from "../assets/background_dark.png?format=webp";

const { title, lang } = Astro.props;
---
<html lang={lang?lang : "de"} >
  <head>
    <meta charset="UTF-8" />
    <title>{title ? `${title} | Tool` : "Tool"}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href={RESOURCES.fontURL} rel="stylesheet" />
    <script src="https://unpkg.com/alpinejs" defer></script>
    <script src="/minimessage.min.js" is:inline></script>
    <script src="/minimessage-fetch-translations.min.js" is:inline></script>
    <script src="/minimessage.io.js" is:inline></script>
    <noscript>
      <style>
        /**
        * Reinstate scrolling for non-JS clients
        */
        .simplebar-content-wrapper {
          scrollbar-width: auto;
          -ms-overflow-style: auto;
        }

        .simplebar-content-wrapper::-webkit-scrollbar,
        .simplebar-hide-scrollbar::-webkit-scrollbar {
          display: initial;
          width: initial;
          height: initial;
        }
      </style>
    </noscript>
  </head>
  <body
    class="min-h-screen text-text font-sans flex flex-col relative overflow-x-hidden bg-background"
    style={`--page-bg: url(${Background});`}
  >
    <div
      class="fixed top-0 left-1/2 -translate-x-1/2 w-screen h-screen bg-cover bg-center bg-no-repeat blur-xl scale-105"
      style="background-image: var(--page-bg); z-index: -1;"
      aria-hidden="true"
    ></div>

    <Header title="BaggelMC" />
    <main class="grow relative z-10">
      <slot />
    </main>
    <Footer />
  </body>
</html>
